<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace=" com.example.instagramclone.repository.MemberRepository">

    // 회원 정보 생성
    void insert(Member member);

    <insert id="inser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO users
            (username, password, email, phone, name)
        VALUES
            (#{username}, #{password}, #{email}, #{phone}, #{name})
    </insert>



</mapper>